body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#extension-panel-root {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  z-index: 2147483647;
}

.react-toast-notifications__container {
  z-index: 2147483647 !important;
}

.react-toast-notifications__toast--success {
  background-color: rgba(51, 0, 204, 0.7) !important;
  color: white !important;
}

.react-toast-notifications__toast__icon-wrapper {
  background-color: rgba(51, 0, 204, 1) !important;
}