.fade-enter {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: bottom right;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
    transition: transform 100ms linear, opacity 100ms linear;
  }
  
  .fade-exit {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: bottom right;
    transition: transform 100ms linear, opacity 100ms linear;
  }